@import "../../assets/css/mix";
.food-page {
  display: flex;
  height: 100%;

  .left {
    width: 50%;
    box-sizing: border-box;
    padding-left: get-vw(46px);
    padding-right: get-vw(46px);
    display: flex;
    align-items: center;

    &:after {
      content:'';
      position: absolute;
      bottom:0px;
      left:0px;
      width:100%;
      height: get-vw(295px);
      z-index: 3;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #000000);
    }

    .row {
      height:get-vw(870px);
      position: relative;
    }
    h1 {
      @include h-2-event-detail;
    }

    p {
      font-size: get-vw(14px);
      font-weight: 500;
      font-style: italic;
      line-height: 1.43;
      letter-spacing: get-vw(1px);
      text-align: justify;
      color: #ded6a7;
    }

    .foods {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      margin-top:get-vw(30px);

      .food {
        width:33.3333%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height:get-vw(141px);
        img {
          display: block;
          width:get-vw(116px);
          &.all-hail-the-cheese {
            width:get-vw(116px);
          }
          &.the-inferno {
            width:get-vw(62px);
          }
          &.balabam {
            width:get-vw(140px);
          }
          &.tell-southern-bell {
            width:get-vw(110px);
          }
          &.portobello {
            width:get-vw(96px);
          }
          &.beefy-beefy {
            width:get-vw(76px);
          }
          &.three-amigos {
            width:get-vw(76px);
          }
          &.the-chick {
            width:get-vw(140px);
          }
          &.falafel {
            width:get-vw(100px);
          }
        }

        &.left-line{
          &:after {
            content:'';
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            left:0px;

            width: 1px;
            height: get-vw(100px);
            background-color: #4a4a4a;
          }
        }

        &.bottom-line{
          &:before {
            content:'';
            position: absolute;
            left:50%;
            transform: translateX(-50%);
            bottom:0px;

            width: get-vw(100px);
            height: 1px;
            background-color: #4a4a4a;
          }
        }
      }
    }
  }

  .download-menu {
    display: block;
    margin:0px auto;
    margin-top:get-vw(60px);
    text-decoration: none;
    font-size: get-vw(14px);
    font-weight: 500;
    letter-spacing: get-vw(0.5px);
    color: #ded6a7;
    z-index: 99;
    transition:all 0.25s;
    position: relative;

    &:before {
      content:'';
      width:0%;
      height:1.5px;
      background:#e88c54;
      transition: all 0.25s;
      left:0px;
      bottom:0px;
      position: absolute;
    }

    &:after {
      content:'';
      width:0%;
      height:1.5px;
      background:#e88c54;
      transition: all 0.25s;
      right:0px;
      bottom:0px;
      position: absolute;
    }
    &:hover {
      color:#e88c54;
      &:after {
        width:50%;
      }
      &:before {
        width:50%;
      }
    }
  }

  .right {
    width: 50%;
    box-sizing: border-box;
    border-left: 5px solid #000;
    position: relative;

    background: url(../../assets/img/food.png);
    background-size:cover;

    .buns {
      position: absolute;
      top:get-vw(100px);
      left:50px;

      img {
        display: block;
        width:get-vw(350px);
      }
    }
  }
}




@media only screen and (min-width: 320px) and (max-width: 900px){
  .food-page {
    .left {
      .row {
        height:auto;
      }
      width:100%;
      justify-content: center;
      h1 {
        font-size: get-mobile-vw(16px);
        text-align: center;
      }

      p {
        font-size:get-mobile-vw(0px);
      }

      a {
        font-size: get-mobile-vw(10px);
      }
    }



    .foods {
      .food {
        height: 80px !important;

        img {
          transform: scale(3)  !important;
        }
      }
    }
    .right {
      display: none;
    }
  }
}