<div class="food-page">
  <div class="left">
    <div class="row">
      <div class="content">
        <h1>FOOD</h1>
        <p>
          We as Buns only craft hearty, honest and so damn satisfying Burgers.
        </p>
        <p>
          Our patties are hand pressed with love using 21 day Dry-aged British Beef.
        </p>
        <p>
          Daily fresh prepared patties are flame-grilled medium so it’s pink, juicy and succulent served in a sweet brioche bun with the best quality of toppings of your choice.
          <br>
          We are proud to say that we are all about Burgers & good mood food.
        </p>
      </div>
      <div class="foods">
        <div class="food bottom-line">
          <img src="assets/img/allhailthecheese.svg" class="all-hail-the-cheese" />
        </div>
        <div class="food left-line bottom-line">
          <img src="assets/img/theinferno.svg" class="the-inferno" />
        </div>
        <div class="food left-line bottom-line">
          <img src="assets/img/balabam.svg" class="balabam" />
        </div>
        <div class="food bottom-line">
          <img src="assets/img/tellsouthernbell.svg" class="tell-southern-bell" />
        </div>
        <div class="food left-line bottom-line">
          <img src="assets/img/portobello.svg" class="portobello" />
        </div>
        <div class="food left-line bottom-line">
          <img src="assets/img/beefybeefy.svg" class="beefy-beefy" />
        </div>
        <div class="food">
          <img src="assets/img/threeamigos.svg" class="three-amigos" />
        </div>
        <div class="food left-line">
          <img src="assets/img/thechick.svg" class="the-chick" />
        </div>
        <div class="food left-line">
          <img src="assets/img/falafel.svg" class="falafel" />
        </div>
        <a href="buns.pdf" class="download-menu" target="_blank">
          download all food menu <span class="icon-link"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="buns">
      <img src="assets/img/buns.png" />
    </div>
  </div>
</div>
