<div class="event-list-page">


  <div class="row">
    <div class="event-scroller">
      <ngx-carousel (onMove)="test($event)" #messagesContainer
                    [inputs]="carouselOne">
        <ngx-item NgxCarouselItem *ngFor="let eventData of events" class="event">

          <div class="event">
            <div [routerLink]="['../event-detail', eventData.id]" class="hv">
              <div class="date">
                <span class="month">{{eventData.start_time| date: 'MMM'}}</span>
                <span class="day">{{eventData.start_time| date: 'dd'}}</span>
              </div>
              <div class="picture">
                <img src="{{eventData.cover?.source}}">
              </div>
              <div class="event-text">
                <div class="title web">
                  {{eventData.name | slice:0:40}}
                </div>
                <div class="title mobile">
                  {{eventData.name}}
                </div>
                <div class="text">
                  {{eventData.description | slice:0:70}} &nbsp;
                  <a href="">
                    more details
                  </a>
                </div>
              </div>
            </div>
            <div class="link">
              <a [routerLink]="['../event-detail', eventData.id]" class="details-btn">DETAILS</a>
              <span class="interest-icon" (click)="interest(eventData)"><span class="icon-star"></span></span>
            </div>
            <div class="mobile share">
              <span class="interest-icon" (click)="interest(eventData)"><span class="icon-star"></span></span> <b>Share
              or Save</b>
            </div>
          </div>
        </ngx-item>
        <ngx-item NgxCarouselItem class="event">


        </ngx-item>
        <div style="display: none">
          <button NgxCarouselPrev class='leftRs' #left style="display: none">&lt;</button>
          <button NgxCarouselNext class='rightRs' #right style="display: none">&gt;</button>
        </div>
      </ngx-carousel>
    </div>

    <div class="bottom">

      <div class="join-mailing" (click)="newsletter()">
        <span class="icon-mailing"></span>
        Join our mailing list Never miss an update
      </div>
      <div class="arrows">
        <span class="icon-left_arrow" (click)="prev()" [ngClass]="{'hide': !prevAvailable}"></span>
        <i>{{currentSlide}}</i>
        <span class="icon-right_arrow" (click)="next()" [ngClass]="{'hide': !nextAvailable}"></span>
      </div>
    </div>
    <div class="overlay"></div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
