@import "../../assets/css/mix";

.event-list-page {
  padding-left: get-vw(45px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;

  .overlay {
    position: absolute;
    right: 0px;
    top: 0px;
    width: get-vw(55px);
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 94%, #000000);
  }

  .row {
    width: 100%;
  }

  .event-scroller {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .event-list {
    display: flex;
    width: 100%;
    position: relative;
    align-items: flex-start;
    transition: all 0.5s;
    transform: translateX(0);
  }
  .event {

    width: get-vw(250px);
    padding-left: get-vw(25px);
    padding-right: get-vw(25px);
    flex: 0 0 auto;
    position: relative;

    .hv {
      cursor: pointer;
      outline: 0;



      &:hover {

        .event-text {
          .title {
            color: #ded6a7;
          }
          .text {
            color: #ded6a7;
            a {
              &:after {
                opacity:1;
              }
            }
          }
        }
      }
    }

    &:after {
      content:'';
      position: absolute;
      bottom:0px;
      left: get-vw(25px);
      right: get-vw(25px);
      box-sizing: border-box;
      border-bottom: solid 2px #9b9b9b;
    }


    &:first-child {
      margin-left: 0px;
    }
    .date {
      span {
        display: block;

        &.month {
          text-transform: uppercase;
          @include month;
        }

        &.day {
          @include day;
        }
      }
    }
    .picture {
      margin-top: get-vw(2px);
      img {
        width: 100%;
      }
    }



    .title {
      font-size: get-vw(20px);
      font-weight: bold;
      line-height: 1.4;
      letter-spacing: get-vw(1px);
      color: #ffffff;
      margin-top: 14px;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
    }
    .text {
      font-family: Montserrat;
      font-size: get-vw(16px);
      line-height: 1.38;
      letter-spacing: get-vw(0.5px);
      color: #ffffff;
      margin-top: get-vw(15px);
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      a {
        font-size: get-vw(12px);
        font-weight: 600;
        line-height: 1.83;
        letter-spacing: get-vw(0.5px);
        color: #ded6a7;
        text-decoration: none;
        position: relative;
        cursor: pointer;

        &:after {
          width:100%;
          background-color: #ded6a7;
          height:1px;
          left:0px;
          position: absolute;
          content:'';
          bottom:-1px;
          transition: all 0.25s;
          opacity: 0;
        }
      }
    }

    .link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        display: block;
        width: get-vw(190px);
        height: get-vw(45px);
        border-radius: get-vw(22.5px);
        font-family: "Courier New";
        font-size: get-vw(20px);
        font-weight: bold;
        line-height: get-vw(47px);
        letter-spacing: get-vw(0.6px);
        text-align: center;
        margin-top: get-vw(28px);
        margin-bottom: get-vw(25px);
        text-decoration: none;
        cursor: pointer;
      }
      .interest-icon {
        width:get-vw(35px);
        height:get-vw(35px);
        border:1px solid #e88c54;
        border-radius: 100px;
        color: #E88C54;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.25s;


        &>span {
          font-size: get-vw(20px);
        }

        &:hover {
          background-color:#e88c54;
          cursor: pointer;

          span {
            color:#000;
            &:before {
              content:"\E00F";
            }
          }
        }
      }
    }
  }
  .bottom {
    display: flex;
    margin-top: get-vw(72px);
    justify-content: space-between;
    .join-mailing {
      font-size: get-vw(16px);
      line-height: 1.38;
      letter-spacing: get-vw(1px);
      text-align: center;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: get-vw(382px);
      cursor:pointer;
      transition:all 0.25s;

      span {
        margin-right: get-vw(20px);
        font-size: get-vw(25px);
        color:#FFF;
        transition:all 0.25s;
      }

      &:hover {
        color:#ded6a7;
        cursor: pointer;
        span {
          color:#ded6a7;
        }
        a {
          color:#ded6a7;
        }
      }
    }
    .arrows {
      margin-right: get-vw(120px);
      display: flex;
      align-items: center;

      .hide {
        visibility: hidden;
      }
      span {
        transition:all 0.25s;
        cursor: pointer;
        &:hover {
          color:#e88c54;
        }
      }
    }
    i {
      font-family: "Courier New";
      font-weight: bold;
      font-size: get-vw(22px);
      letter-spacing: get-vw(0.3px);
      text-align: left;
      color: #ded6a7;
      font-style: normal;
      vertical-align: middle;
      margin-left: 15px;
      margin-right: 15px;
      float: left;
    }
    span {
      vertical-align: middle;
      font-size: get-vw(30px);
      color: #9B9B9B;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 900px){

  /deep/ ngx-carousel {
    width:100%;
  }
  .event-list-page {
    padding:0px;

    .bottom {
      display: none;
    }

    .event-list {
      width:200px;
      margin: 0px auto;
    }
    .event {
      width:200px;
      padding:0px;
      padding-right:20px;
      margin:0px auto !important;

      .picture {
        img {

          width: auto;
          max-height: get-mobile-vw(150px);
          display: block;
          margin: 0px auto;
          max-width: 100%;
        }
      }

      &:after {
        display: none;
      }

      .date {

        span.month {
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 0.4px;
          text-align: left;
          display: inline-block;
        }

        span.day {
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 0.4px;
          text-align: left;
          display: inline-block;
        }
      }

      .title {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.43;
        letter-spacing: 1px;
        text-align: left;
        margin-top:10px;
      }
      .text {
        display: none;
      }

      .link {
        margin-top:27px;
        a {
          margin:0px auto;
          width: 146px;
          height: 36px;
          border-radius: 22.5px;
          border: solid 1px #ffffff;

          font-size: 16px;
          font-weight: bold;
          line-height: 36px;
          letter-spacing: 1px;
        }

        .interest-icon {
          display: none;
        }
      }

      .share {
        display: none !important;
        margin-top:20px;
        font-family: "Courier New";
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        color: #e88c54;
        display: flex;
        justify-content:center;
        .interest-icon {
          width: 17px;
          height: 17px;
          box-sizing: border-box;
          border-radius: 23.5px;
          border: solid 1px #e88c54;
          margin-right:10px;
          font-size: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          display: block;



        }

        b {
          text-decoration: underline;
        }
      }
    }
  }
}
