@import "../../assets/css/mix";
.balabam-page {
  display: flex;
  height: 100%;

  .left {
    width: 50%;
    box-sizing: border-box;
    padding-left: get-vw(46px);
    padding-right: get-vw(46px);
    display: flex;
    align-items: center;
    position: relative;

    &:after {
      content:'';
      position: absolute;
      bottom:0px;
      left:0px;
      width:100%;
      height: get-vw(295px);
      z-index: 999;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #000000);
    }

    .row {
      height:get-vw(870px);
      position: relative;

      .content {
        height:100%;
      }
    }

    h1 {
      @include h-2-event-detail();
      margin-top: 0px;
    }
    h3 {
      @include h-3-event-detail();
    }
    p {
      @include paragraph();
    }
  }

  .right {
    width: 50%;
    height:100%;
    box-sizing: border-box;
    border-left: 5px solid #000;
    position: absolute;
    overflow: hidden;
    right:0px;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
    z-index: 9;
    background-color: #000;

    &:hover {
      width:100%;

      video {
        position: relative;
        width:100%;
        height:auto;
      }
    }

    .pause {
      position: absolute;
      width:100%;
      height:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 9;

      img {
        opacity: 0;
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -ms-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;

        &.always {
          opacity: 1;
        }
      }

      &:hover {
        img {
          opacity: 1;
        }
      }
    }

    video {
      transform: translate(-50%,-50%);
      top:50%;
      left:50%;
      height:100%;
      position: relative;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 900px){
  .balabam-page {
    flex-wrap: wrap-reverse;
    background: #000;
    padding-top: 200px;
    padding-bottom: 50px;
    height:auto;

    .left {
      width:100%;
      padding:0px;

      &:after {
        display: none;
      }

      .row {
        width:get-mobile-vw(220px);
        margin:0px auto;
        height:100%;
      }

      h1 {
        font-size: get-mobile-vw(18px);
        line-height: 0.89;
        margin-top:get-mobile-vw(20px);
      }

      p {
        font-family: "Courier New";
        font-size: get-mobile-vw(14px);
        line-height: 1.2;
        text-align: left;
        color: #9b9b9b;
      }
    }
    .right {
      width:100%;
      height:200px;
      overflow: hidden;
      border: 0px;
      left:initial;
      position: fixed;
      top: 0px;

      .pause {
        img {
          width:get-mobile-vw(58px);
        }
      }

      video {
        width:100%;
        position: relative;
        transform: none;
        left:initial;
        height: auto;
      }
    }
  }
}