<div class="balabam-page">
  <div class="left">
    <div class="row">
      <div class="content" id="scroll">
        <h1>BALABAM</h1>
        <p>
          Balabam’s design and renovation represents the concerted effort of over 50 volunteers of various backgrounds including artists, art directors, interior designers, musicians and sound engineers to name a few. Their support results from a belief in what Balabam hopes to accomplish and reflects its creative and community based ethos.
        </p>
        <p>
          Our aim is to accommodate art of all mediums, to exhibit not only the diversity and talent of the local community, but also of cultures and groups that remain under represented in the area. This approach will form the basis of our intended growth and evolution as a venue - as one that will provide a means to highlight and celebrate people from all walks of life.
        </p>
        <p>
          With the well documented closing down of live venues across London as well as the lack of artistic outlets, high quality coffee shops and study and work spaces in the area, Balabam will serve to amalgamate several key services lacking in this vicinity of North London.
        </p>
        <h3>OUR GOAL</h3>
        <p>
          Our fundamental aim is to provide people with high quality coffee, food and entertainment in a  relaxed, fun and creative habitat. In doing so, we hope to foster a space with a familial feeling, in which all manner of people will come together. Thus, we wish for Balabam to provide an environment
          accommodating several functions, such as:
        </p>
        <p>
          Art / Photography Exhibitions, Charity Events, Puppet Shows, Salsa Dancing , Live Music, Workshops, Yoga Sessions, A Study Environment, Relaxation / Book Reading
        </p>
        <p>
          Our flexibility as a venue will also stretch to our menu, providing a range of food and drinks that will accommodate most tastes.
        </p>
        <h3>OUR GOAL</h3>
        <p>
          Our fundamental aim is to provide people with high quality coffee, food and entertainment in a  relaxed, fun and creative habitat. In doing so, we hope to foster a space with a familial feeling, in which all manner of people will come together. Thus, we wish for Balabam to provide an environment
          accommodating several functions, such as:
        </p>
        <p>
          Art / Photography Exhibitions, Charity Events, Puppet Shows, Salsa Dancing , Live Music, Workshops, Yoga Sessions, A Study Environment, Relaxation / Book Reading
        </p>
        <p>
          Our flexibility as a venue will also stretch to our menu, providing a range of food and drinks that will accommodate most tastes.
        </p>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="pause" (click)="toggleVideo()"  >
      <img src="assets/img/pause.svg" *ngIf="played">
      <img src="assets/img/play.svg" *ngIf="!played" [ngClass]="{'always':!played}">
    </div>
    <video #player width="auto" height="100%" autoplay class="web"  >
      <source src="assets/video/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>


    <video #player width="auto" height="100%"  class="mobile">
      <source src="assets/video/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>