@import "../../assets/css/mix";
.contact-page {
  display: flex;
  height: 100%;

  .left {
    width:50%;
    box-sizing: border-box;
    padding-left:get-vw(46px);
    padding-right:get-vw(46px);
    display: flex;
    align-items: center;
    .row {
      height:get-vw(840px);
    }
  }

  .text-small {
    font-size: get-vw(14px);
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: get-vw(1px);
    text-align: justify;
    color: #ded6a7;
    margin-top:get-vw(140px);
    margin-bottom:get-vw(62px);
  }

  .contact-info {
    b {
      font-size: get-vw(20px);
      font-weight: bold;
      line-height: 1.4;
      letter-spacing: get-vw(1px);
      color: #ffffff;
    }
    p {
      font-size: get-vw(26px);
      font-weight: 600;
      letter-spacing: get-vw(1px);
      color: #ded6a7;
      margin-top:get-vw(17px);
      margin-bottom:get-vw(28px);
    }

    a {
      color: #ded6a7;
      text-decoration: none;
      position: relative;

      &:before {
        content:'';
        width:0%;
        height:1.5px;
        background:#e88c54;
        transition: all 0.25s;
        left:0px;
        bottom:0px;
        position: absolute;
      }

      &:after {
        content:'';
        width:0%;
        height:1.5px;
        background:#e88c54;
        transition: all 0.25s;
        right:0px;
        bottom:0px;
        position: absolute;
      }
      &:hover {
        color:#e88c54;

        &:before {
          width:50%;
        }

        &:after {
          width:50%;
        }
      }
    }
  }

  .right {
    width:50%;
    box-sizing: border-box;
    border-left:5px solid #000;
    position: relative;
    #map {
      width: 100%;
      height: 100%;
    }
    .overlay {
      height: get-vw(549px);
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
      width: 100%;
      position: absolute;
      bottom: 0px;
      z-index: 999;
      padding-top:get-vw(210px);
      box-sizing: border-box;

      a {
        margin:0px auto;
        font-family: "Courier New";
        display: block;
        width: get-vw(270px);
        height: get-vw(60px);
        line-height: get-vw(60px);
        text-decoration: none;
        text-align: center;
        border-radius: get-vw(7px);
        border: solid 1px #ffffff;
        font-size: get-vw(20px);
        font-weight: bold;
        letter-spacing: get-vw(1px);
        color: #ffffff;
        margin-bottom:get-vw(50px);
        transition:all 0.25s;
        &:hover {
          background-color:#FFF;
          color:#000;
        }
      }
    }
  }
}

agm-map {
  height: 100%;
}


@media only screen and (min-width: 320px) and (max-width: 900px){
  .contact-page {

    .title {
      font-size: get-mobile-vw(18px);
      font-weight: bold;
      line-height: 0.89;
      color: #ffffff;
      margin-bottom:17px;
    }

    .text-small {
      font-family: "Courier New";
      font-size: get-mobile-vw(13px);
      font-weight: bold;
      line-height: 1.2;
      text-align: left;
      color: #9b9b9b;
      font-style: normal;
      font-stretch: normal;
      margin-bottom:get-mobile-vw(20px);
      margin-top:0px;
    }

    .contact-info {
      b {
        font-size: get-mobile-vw(14px);
        font-weight: bold;
        line-height: 1.14;
        text-align: left;
        color: #ded6a7;
        margin-bottom:get-mobile-vw(9px);
      }

      p {
        font-size: get-mobile-vw(14px);
        font-weight: bold;
        line-height: 1.29;
        letter-spacing: 1px;
        color: #ffffff;
        margin-bottom:get-mobile-vw(15px);
      }

      a {
        color: #ffffff;
      }
    }

    .buttons {
      margin-top:get-mobile-vw(25px);
      a {
        display: block;
        width: get-mobile-vw(199px);
        height: get-mobile-vw(40px);
        border-radius: get-mobile-vw(6px);
        border: solid 1px #DED6A7;
        font-family: "Courier New";
        font-size: get-mobile-vw(16px);
        line-height: get-mobile-vw(40px);
        letter-spacing: get-mobile-vw(1px);;
        text-align: center;
        color: #DED6A7;
        margin: 0px auto;
        text-decoration: none;
      }
    }


    .left {
      width:get-mobile-vw(220px);
      padding:0px;
      margin:0px auto;

      .row {
        height:auto;
      }
    }
    .right {
      display: none;
    }
  }
}