<div class="contact-page">
    <div class="left">
        <div class="row">
            <div class="mobile title">
                GET IN TOUCH
            </div>
            <div class="text-small web">
                Live music venue and bar, hosting various gigs and jam sessions. Open to all artists and music
                lovers based in London and beyond!
                A venue where you can also visit to enjoy delicious coffee, sip on smashing cocktails and share
                tasty burgers with your friends!
            </div>
            <div class="text-small mobile">
                A venue where you can also visit to enjoy delicious coffee, sip on smashing cocktails and share
                tasty burgers with your friends!
            </div>
            <div class="contact-info">
                <b>
                    Address
                </b>
                <p>
                    58-60 High Road, Tottenham,
                    London, N15 6JU
                </p>
                <b>
                    Call
                </b>
                <p>
                    07493 411305
                </p>
                <b>
                    Send a message
                </b>
                <p>
                    <a href="mailto:balabamvenue@gmail.com">balabamvenue@gmail.com</a>
                </p>
            </div>

            <div class="mobile buttons">
                <a class="get-tickets" target="_blank" href="https://www.google.co.uk/maps/dir//''/@51.5772251,-0.1427771,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x48761c6ac4a4fcdb:0x2783af2c037b740c!2m2!1d-0.0727381!2d51.5771393?hl=tr">
                    GET DIRECTION <span class="icon-link"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="right">
        <div id="map">
            <agm-map
                    [latitude]="lat"
                    [longitude]="lng"
                    [zoom]="zoom"
                    [disableDefaultUI]="false"
                    [zoomControl]="false" [styles]="styles">

                <agm-marker [latitude]="51.5771393" [longitude]="-0.0727381">
                </agm-marker>

            </agm-map>
        </div>
        <div class="overlay">
            <a href="https://www.google.co.uk/maps/dir//''/@51.5772251,-0.1427771,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x48761c6ac4a4fcdb:0x2783af2c037b740c!2m2!1d-0.0727381!2d51.5771393?hl=tr" target="_blank">GET DIRECTIONS</a>
            <a href="">SEND TO YOUR PHONE</a>
        </div>
    </div>
</div>