@font-face {
  font-family: "balabam";
  src: url('assets/fonts/balabam.eot');
  src: url('assets/fonts/balabam.eot?#iefix') format('eot'),
  url('assets/fonts/balabam.woff') format('woff'),
  url('assets/fonts/balabam.ttf') format('truetype');
}

@mixin icon-styles {
  font-family: "balabam";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
  font-size:1em;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == close {
    $char: "\E001";
  }
  @if $filename == close2 {
    $char: "\E002";
  }
  @if $filename == facebook {
    $char: "\E003";
  }
  @if $filename == facebook2 {
    $char: "\E004";
  }
  @if $filename == instagram {
    $char: "\E005";
  }
  @if $filename == left_arrow {
    $char: "\E006";
  }
  @if $filename == like {
    $char: "\E007";
  }
  @if $filename == link {
    $char: "\E008";
  }
  @if $filename == mailing {
    $char: "\E009";
  }
  @if $filename == messenger {
    $char: "\E00A";
  }
  @if $filename == right_arrow {
    $char: "\E00B";
  }
  @if $filename == star-active {
    $char: "\E00C";
  }
  @if $filename == star-passive {
    $char: "\E00D";
  }
  @if $filename == star {
    $char: "\E00E";
  }
  @if $filename == star2 {
    $char: "\E00F";
  }
  @if $filename == twitter2 {
    $char: "\E010";
  }
  @if $filename == whatsapp {
    $char: "\E011";
  }
  @if $filename == youtube {
    $char: "\E012";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
    vertical-align: top;
  }
}

.icon-close {
  @include icon(close);
}
.icon-close2 {
  @include icon(close2);
}
.icon-facebook {
  @include icon(facebook);
}
.icon-facebook2 {
  @include icon(facebook2);
}
.icon-instagram {
  @include icon(instagram);
}
.icon-left_arrow {
  @include icon(left_arrow);
}
.icon-like {
  @include icon(like);
}
.icon-link {
  @include icon(link);
}
.icon-mailing {
  @include icon(mailing);
}
.icon-messenger {
  @include icon(messenger);
}
.icon-right_arrow {
  @include icon(right_arrow);
}
.icon-star-active {
  @include icon(star-active);
}
.icon-star-passive {
  @include icon(star-passive);
}
.icon-star {
  @include icon(star);
}
.icon-star2 {
  @include icon(star2);
}
.icon-twitter2 {
  @include icon(twitter2);
}
.icon-whatsapp {
  @include icon(whatsapp);
}
.icon-youtube {
  @include icon(youtube);
}