@function get-vw($target) {
  $vw-context: (1920 * .01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function get-mobile-vw($target) {
  $vw-context: (320 * .01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600");

@mixin day {
  font-size: get-vw(48px);
  font-weight: bold;
  letter-spacing: get-vw(1px);
  text-align: left;
  color: #ffffff;
  line-height: 1em;
}

@mixin month {
  font-size: get-vw(24px);
  font-weight: 500;
  letter-spacing: get-vw(0.5px);
  text-align: left;
  color: #ffffff;
  line-height: 1em;
}

@mixin h-2-event-detail {
  font-size: get-vw(36px);
  line-height: 1.56;
  letter-spacing: get-vw(1px);
  text-align: left;
  color: #ffffff;
}

@mixin h-3-event-detail {
  font-size: get-vw(26px);
  font-weight: 600;
  letter-spacing: get-vw(1px);
  text-align: left;
  color: #ded6a7;
}

@mixin paragraph {
  font-size: get-vw(16px);
  line-height: 1.38;
  letter-spacing: get-vw(1px);
  text-align: justify;
  color: #ffffff;
}
