<div class="full-page interest-page">
  <div class="close">
    <span class="icon-close2" (click)="close()"></span>
  </div>
  <div class="row">
    <div class="left">
      <div class="row">
        <div class="title">
          share
        </div>
        <div class="title-alt">
          with your friends or on your favorite social networks
        </div>
        <div class="share-list">
          <span  shareButton="facebook" sbUrl="https://www.balabam.co.uk/event-detail/{{appService.activeEvent?.id}}">
            <span class="icon-facebook2" ></span>
          </span>
          <span shareButton="twitter" [sbDescription]="enc(appService.activeEvent?.name)" sbUrl="https://www.balabam.co.uk/event-detail/{{appService.activeEvent?.id}}">
            <span class="icon-twitter2"></span>
          </span>

          <span (click)="shareFb('https://www.balabam.co.uk/event-detail/'+appService.activeEvent?.id)">
            <span class="icon-messenger"></span>
          </span>

          <span  shareButton="whatsapp"   sbDescription="https://www.balabam.co.uk/event-detail/{{appService.activeEvent?.id}}">
            <span class="icon-whatsapp"></span>
          </span>
        </div>
        <div class="back" *ngIf="appService.eventClickDetail">
          <a href="" (click)="close()"><b>Back to</b> {{appService.activeEvent?.name}}</a>
        </div>
      </div>
    </div>
    <div class="line">
      <img src="assets/img/mini-logo.svg"/>
    </div>
    <div class="right">
      <div class="row">
        <div class="title">
          get a event alert
        </div>
        <div class="title-alt">
          with your friends or on your favorite social networks
        </div>
        <div class="form">
          <form #formDir="ngForm" (ngSubmit)="send(formDir.valid)" [formGroup]="interestForm">
            <input type="hidden" formControlName="eventName" formControlName="eventName" [ngModel]="appService.activeEvent?.name">
            <input type="hidden" formControlName="date" formControlName="date" [ngModel]="appService.activeEvent?.start_time">
            <div class="form-row">
              <input type="text" class=""
                     [ngClass]="{'error': interestForm.controls.name.invalid && interestForm.controls.name.touched}"
                     required formControlName="name" placeholder="Name, Surname">
            </div>
            <div class="form-row">
              <input type="text" class=""
                     [ngClass]="{'error': interestForm.controls.email.invalid && interestForm.controls.email.touched}"
                     required formControlName="email" placeholder="Email address">
            </div>
            <div class="form-row">
              <input id="interest" type="checkbox" formControlName="checkbox">
              <label for="interest">
                <span class="ico"></span>
                <span class="test">Please email me with special offers and about all events.</span>
              </label>
            </div>
            <div class="form-row">
              <button type="submit">GET A EVENT ALERT</button>
              <div *ngIf="showSuccess" class="success-message">
                almost finished... we need to confirm your email address to complete the subscription process. please click the link in the email we just sent you.
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
