<div class="event-detail-page">
  <div class="row">
    <div class="mobile navigation">
      <div class="cl">
        <div class="previous" [class.hide]="prevEvent==null" (click)="changeDetail(prevEvent?.id)">
          <span class="icon-left_arrow"></span>
        </div>
        <div class="all-events">
          all events
        </div>
        <div class="next" [class.hide]="nextEvent==null" (click)="changeDetail(nextEvent?.id)">
          <span class="icon-right_arrow"></span>
        </div>
      </div>
    </div>
    <div class="event-detail">
      <div class="left">
        <div class="date">
          <span class="month">{{eventDetail?.start_time| date: 'MMM'}}</span>
          <span class="day">{{eventDetail?.start_time| date: 'dd'}}</span>
        </div>
        <div class="picture">
          <img src="{{eventDetail?.cover?.source}}">
        </div>
        <div class="ticket" [class.hide]="eventDetail?.ticket_uri==undefined">
          <a href="{{eventDetail?.ticket_uri}}" target="_blank" class="get-ticket-btn">GET TICKETS <span class="icon-link"></span></a>
        </div>
        <div class="interest">
          <a href="" class="interest-btn" (click)="interest()">Interested <span class="icon-star"></span></a>
        </div>
      </div>
      <div class="right">
        <div class="close-btn">
          <a href="" [routerLink]="['../../events']"><b>Close</b> <span class="icon-close"></span></a>
        </div>
        <div class="text">
          <h1>
            {{eventDetail?.name}}
          </h1>
          <div class="content" id="scroll">
            <p [innerHTML]="eventDetail?.description | nl2br">
            </p>
          </div>
        </div>
        <div class="control-buttons">
          <div [class.hide]="prevEvent==null"  class="previous" [routerLink]="['/event-detail', prevEvent?.id]" (click)="changeDetail(prevEvent?.id)">
            <span class="icon-left_arrow"></span> PREVIOUS
          </div>
          <div [class.hide]="nextEvent==null" class="next" [routerLink]="['/event-detail', nextEvent?.id]" (click)="changeDetail(nextEvent?.id)">
            NEXT <span class="icon-right_arrow"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="mobile buttons">
      <a class="get-tickets">
        GET TICKETS <span class="icon-link"></span>
      </a>
    </div>
  </div>
</div>
