@import "../../assets/css/mix";

.event-detail-page {
  padding-left: get-vw(45px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.87) 25%, #000000);
  .row {
    width: 100%;
  }

  .event-detail {
    display: flex;
  }

  .left {
    width: get-vw(250px);

    .date {
      span {
        display: block;

        &.month {
          @include month;
        }

        &.day {
          @include day;
        }
      }
    }

    .picture {
      margin-top: get-vw(2px);

      img {
        width: 100%;
      }
    }

    .ticket {
      margin-top: get-vw(46px);

      &.hide {
        display: none;
      }
    }

    .interest {
      margin-top: get-vw(40px);
    }
  }

  .right {
    width: calc(100% - #{get-vw(250px)});
    padding-left: get-vw(50px);
    box-sizing: border-box;
    padding-right: get-vw(122px);

    .close-btn {
      margin-bottom: get-vw(32px);
      display: flex;
      justify-content: flex-end;

      b {
        font-weight: normal;
        margin-right:get-vw(13px);
      }

      a {
        text-decoration: none;
        font-size: get-vw(16px);
        font-weight: 500;
        letter-spacing: get-vw(1px);
        color: #9b9b9b;
        transition:all 0.25s;

        &:hover {
          color:#C30016
        }
      }
    }

    h1 {
      @include h-2-event-detail;
      margin-bottom: get-vw(43px);
      margin-top: 0px;
      height:get-vw(73px);
    }

    .text {
      .content {
        position: relative;
        height:get-vw(520px);
        &:after {
          content:'';
          position: absolute;
          left:0px;
          bottom:0px;
          width:100%;
          height:25px;
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #000000);
        }
      }
      p {
        @include paragraph;
      }

      h3 {
        @include h-3-event-detail;
      }

      a {
        font-size: get-vw(16px);
        letter-spacing: get-vw(1px);
        text-align: left;
        color: #e88c54;
      }
    }

    .control-buttons {
      display: flex;
      justify-content: space-between;
      font-family: "Courier New";
      font-weight: bold;
      font-size: get-vw(22px);
      letter-spacing: get-vw(0.3px);
      text-align: left;
      margin-top: get-vw(60px);

      .previous {
        cursor: pointer;

        &.hide {
          visibility: hidden;
        }
      }
      .next {
        cursor: pointer;

        &.hide {
          visibility: hidden;
        }
      }

      &>div {
        color: #ded6a7;
        transition:all 0.25s;

        &:hover {
          color:#e88c54;
        }
      }
    }

  }
}



@media only screen and (min-width: 320px) and (max-width: 900px){
  .event-detail-page {
    margin:0px;
    .event-detail {
      padding-top: 100px;
      padding-bottom: 140px;
      height: auto;
      position: relative;
      .left {
        .date {
          .month {
            font-size: get-mobile-vw(16px);
            font-weight: 500;
            text-align: left;
            color: #ffffff;
          }
          .day {
            font-size: get-mobile-vw(32px);
            font-weight: bold;
            text-align: left;
            color: #ffffff;
          }
        }
        .picture {
          display: none;
        }
        .ticket {
          display: none;
        }
        .interest {
          display: none;
        }
      }
      .right {
        .close-btn {
          display: none;
        }
        .text {
          .content {
            height: auto;

            &:after {
              display: none;
            }
          }
          h1 {
            font-size: 16px;
            line-height: 1.14;
            color: #ded6a7;
            height:auto;
          }

          p {
            font-family: "Courier New";
            font-size: 14px;
            line-height: 1.2;
            color: #9b9b9b;
            text-align:left;
          }
        }
        .control-buttons {
          display: none;
        }
      }
    }

    .row {
      height:100%;
    }

    .navigation {
      margin:0px auto;
      left:0;
      right:0;
      width:get-mobile-vw(170px);
      top: 0px;
      height: 100px;
      width:100%;
      background-color: #000;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;

      .cl {
        width:210px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .previous {
        color:#9b9b9b;
        width:get-mobile-vw(35px);
        height:get-mobile-vw(35px);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .next {
        color:#9b9b9b;
        width:get-mobile-vw(35px);
        height:get-mobile-vw(35px);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .all-events {
        font-family: "Courier New";
        font-size: get-mobile-vw(12px);
        font-weight: bold;
        text-align: left;
        color:#9b9b9b;
        height:get-mobile-vw(35px);
        line-height: get-mobile-vw(35px);
      }
    }

    .buttons {
      position: fixed;
      bottom:0px;
      height:120px;
      width: 100%;
      background-color: #000;
      box-sizing: border-box;
      padding-top:15px;
      left: 0px;
    }

    .get-tickets {
      display: block;
      width: get-mobile-vw(199px);
      height: get-mobile-vw(40px);
      border-radius: get-mobile-vw(22.5px);
      border: solid 1px #DED6A7;
      font-family: "Courier New";
      font-size: get-mobile-vw(16px);
      line-height: get-mobile-vw(40px);
      letter-spacing: get-mobile-vw(1px);;
      text-align: center;
      color: #DED6A7;
      margin: 0px auto;
    }
  }
}
