<div class="full-page newsletter-page">
  <div class="close">
    <span class="icon-close2" (click)="close()"></span>
  </div>
  <div class="row">
    <div class="center">
      <div class="row">
        <div class="title">
          stay in the know!
        </div>
        <div class="title-alt">
          subscribe to the mailing list to keep up with new events & parties. don't worry... we don't like spam either <3
        </div>
        <div class="form">
            <form  #formDir="ngForm" (ngSubmit)="send(formDir.valid)" [formGroup]="newsletterForm">
          <div class="form-row">
            <input type="text" class="" [ngClass]="{'error': newsletterForm.controls.name.invalid && newsletterForm.controls.name.touched}" required formControlName="name" placeholder="Name, Surname">
          </div>
          <div class="form-row">
            <input type="text" class="" [ngClass]="{'error': newsletterForm.controls.email.invalid && newsletterForm.controls.email.touched}" required formControlName="email" placeholder="Email address">
          </div>
          <div class="form-row">
            <input id="newsletter" type="checkbox" formControlName="checkbox">
            <label for="newsletter">
              <span class="ico"></span>
              <span class="test">Please email me with special offers and about all events.</span>
            </label>
          </div>
          <div class="form-row">
            <button type="submit">SUBSCRIBE</button>

            <div *ngIf="showSuccess" class="success-message">
              almost finished... we need to confirm your email address to complete the subscription process. please click the link in the email we just sent you.
            </div>
          </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>