@import "../../assets/css/mix";
.newsletter-page {
  display: flex;
  align-items: center;


  .success-message {
    color:#50e3c2;
    margin-top:get-vw(20px);
    font-size:get-vw(16px);
    width:get-vw(400px);
    position: absolute;
  }

  .close {
    color: #9B9B9B;
    position: absolute;
    right: get-vw(100px);
    top: get-vw(100px);
    font-size:get-vw(50px);
    cursor: pointer;
  }

  & > .row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  .center {
    width: get-vw(670px);
    display: flex;
    justify-content: center;

    .title {
      font-size: get-vw(48px);
      font-style: italic;
      text-align: center;
      color: #e88c54;
    }

    .title-alt {
      font-size: get-vw(20px);
      font-style: italic;
      text-align: center;
      color: #9b9b9b;
      margin-top: get-vw(27px);
    }

    .form {
      text-align: center;
      margin: 0px auto;
      margin-top: get-vw(69px);
      width: get-vw(400px);

      input[type=text] {
        width: 100%;
        height: get-vw(70px);
        border-radius: get-vw(10px);
        border: solid 1px #e88c54;
        background-color: transparent;
        padding-left: get-vw(20px);
        box-sizing: border-box;
        font-size:get-vw(20px);
        color:#E07843;
        margin-bottom: get-vw(30px);
        outline: 0;

        &::-webkit-input-placeholder {
          color: #898989;
        }
        &::-moz-placeholder {
          color: #898989;
        }
        &:-ms-input-placeholder {
          color: #898989;
        }
        &:-moz-placeholder {
          color: #898989;
        }

        &.error {
          border:1px solid #d0021b;



          &::-webkit-input-placeholder {
            color: #d0021b;
          }
          &::-moz-placeholder {
            color: #d0021b;
          }
          &:-ms-input-placeholder {
            color: #d0021b;
          }
          &:-moz-placeholder {
            color: #d0021b;
          }
        }
      }

      input[type=checkbox] {
        display: none;
        & + label {
          width: 100%;
          font-size: get-vw(12px);
          font-style: italic;
          line-height: 1.67;
          letter-spacing: get-vw(1px);
          text-align: left;
          color: #9b9b9b;
          position: relative;
          display: flex;
          align-items: flex-start;
          outline: 0;

          .test {
            padding-left: get-vw(10px)
          }

          .ico {
            content: '';
            width: get-vw(20px);
            height: get-vw(20px);
            border-radius: 3px;
            border: solid 1px #e88c54;
            position: relative;
          }
        }

        &:checked {
          & + label {
            .ico {
              &:before {
                position: absolute;
                content: '';
                width: 7px;
                height: 7px;
                background-color: #e88c54;
                border-radius: 25px;

                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
              }
            }
          }
        }
      }

      button {
        width: 100%;
        height: get-vw(70px);
        border-radius: get-vw(10px);
        border: solid 2px #e88c54;
        font-size: get-vw(20px);
        font-weight: 500;
        outline: 0;
        cursor: pointer;
        letter-spacing: get-vw(1px);
        text-align: center;
        color: #e88c54;
        background-color: transparent;
        margin-top: get-vw(70px);
        transition:all 0.25s;

        &:hover {
          background-color: #e88c54;
          color:#000;
        }
      }

    }
  }

  .line {
    height:get-vw(400px);
    position: relative;
    top:50%;
    transform:translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content:'';
      position: absolute;
      top:0px;
      width:1px;
      height:get-vw(135px);
      background-color: #9B9B9B;
    }

    &:after {
      content:'';
      position: absolute;
      bottom:0px;
      width:1px;
      height:get-vw(135px);
      background-color: #9B9B9B;
    }

    img {
      display: block;
      width:get-vw(92px);
    }
  }
}