<div class="container">

  <div class="left-content">
    <div class="row">
      <div class="menu">
        <a [routerLink]="['balabam']" routerLinkActive="active">
          <span class="item">
            BALABAM
          </span>
        </a>
        <a [routerLink]="['events']" routerLinkActive="active">
          <span class="item">
            EVENTS
          </span>
        </a>
        <a [routerLink]="['food']" routerLinkActive="active">
          <span class="item">
            FOOD
          </span>
        </a>
        <a [routerLink]="['reviews']" routerLinkActive="active">
          <span class="item">
            REVIEWS
          </span>
        </a>
        <a  [routerLink]="['contact']" routerLinkActive="active">
          <span class="item">
            CONTACT
          </span>
        </a>
      </div>
      <div class="social-links">
        <a href="https://www.facebook.com/balabamvenue/" target="_blank">
          <span class="icon-facebook"></span>
        </a>
        <a href="https://www.instagram.com/balabam_venue/" target="_blank">
          <span class="icon-instagram"></span>
        </a>
        <a href="">
          <span class="icon-youtube"></span>
        </a>
        <a class="twitter" href="https://twitter.com/hashtag/balabam?src=hash" target="_blank">#balabamvenue</a>
      </div>
      <div class="join-mailing">
        <a href="" (click)="newsletter()">
          <span class="icon-mailing"></span> Join our mailing list Never miss an update
        </a>
      </div>
      <div class="logo">
        <img src="assets/img/logo.svg" />
      </div>
      <div class="info-text">
        Balabam's aim is to accommodate art of all mediums, to exhibit not <br>
        only the diversity and talent of the local community, but also of<br>
        cultures and groups that remain under represented in the area.
        <div class="rgb">
          created by <a target="_blank" href="https://www.rgbteam.co.uk">RGBteam</a>
        </div>
      </div>
    </div>
  </div>
  <div class="right-content">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="mobile mobile-menu-icon" (click)="openMenu()">
  <img src="assets/img/menu-open-ico.svg" />
</div>
<div class="mobile mobile-logo" (click)="openMenu()">
  <img src="assets/img/menu-logo-ico.svg" />
</div>
<div class="mobile mobile-menu" [ngClass]="{'active': menuOpened}">
  <div class="logo">
    <img src="assets/img/balabam-mobil-logo.svg" />
  </div>
  <div class="menu">
    <a href="" [routerLink]="['balabam']" (click)="closeMenu()">
      BALABAM
    </a>
    <a href="" [routerLink]="['events']" (click)="closeMenu()">
      EVENTS
    </a>
    <a href="" [routerLink]="['food']" (click)="closeMenu()">
      FOOD
    </a>
    <a href="" [routerLink]="['reviews']" (click)="closeMenu()">
      REVIEWS
    </a>
    <a href="" [routerLink]="['contact']" (click)="closeMenu()">
      FIND US
    </a>
  </div>
  <div class="menu-back"  (click)="openMenu()">
    Back to website
  </div>
</div>
<app-interest [ngClass]="{'active': appService.showInterest}"></app-interest>
<app-newsletter [ngClass]="{'active': appService.showNewsletter}"></app-newsletter>
