@import "../../assets/css/mix";



/deep/ .mobile {
  display: none;
}

/deep/ .web {
  display: block;
}


.mobile {
  display: none;
}

.web {
  display: block;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.left-content {
  width: get-vw(600px);
  height: 100%;
  border-right: get-vw(5px) solid #000000;
  padding-left: get-vw(94px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  .menu {
    a {
      display: block;
      font-family: "Courier New";
      font-size: get-vw(64px);
      font-weight: bold;
      line-height: 1.41;
      letter-spacing: get-vw(1px);
      text-align: left;
      color: #9b9b9b;
      text-decoration: none;

      &:hover,&.active {
        color: #ffffff;
      }
    }

  }
  .social-links {
    margin-top: get-vw(35px);
    display: flex;
    align-items: center;
    a:not(.twitter) {
      color: #9b9b9b;
      text-decoration: none;
      margin-right: get-vw(18px);
      transition:all 0.25s;

      &:hover {
        color:#FFFFFF;
      }
    }

    .icon-facebook {
      font-size: get-vw(35px);
    }

    .icon-instagram {
      font-size: get-vw(35px);
    }

    .icon-youtube {
      font-size: get-vw(52px);
    }

    .twitter {
      font-family: "Courier New";
      font-size: get-vw(20px);
      font-weight: bold;
      letter-spacing: get-vw(1.1px);
      color: #e88c54;
      text-decoration: none;
      margin-left: get-vw(15px);
      transition:all 0.25s;
      position: relative;

      &:before {
        content:'';
        width:0%;
        height:1px;
        background:#ffffff;
        transition: all 0.25s;
        left:0px;
        bottom:0px;
        position: absolute;
      }

      &:after {
        content:'';
        width:0%;
        height:1px;
        background:#ffffff;
        transition: all 0.25s;
        right:0px;
        bottom:0px;
        position: absolute;
      }

      &:hover {
        color:#ffffff;

        &:before {
          width:50%;
        }

        &:after {
          width:50%;
        }
      }
    }
  }

  .rgb {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: 8px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #9b9b9b;
    position: absolute;
    left: get-vw(-40px);
    bottom: 0px;
    transform-origin: 0;

    a {
      text-decoration: none;
      color:#DED6A7;
      transition: all 0.25s;

      &:hover {
        color: #50e3c2;
      }
    }
  }
  .join-mailing {
    font-family: Montserrat;
    font-size: get-vw(14px);
    font-weight: 300;
    letter-spacing: get-vw(0.8px);
    text-align: left;
    color: #ffffff;
    margin-top: get-vw(45px);

    span {
      margin-right: get-vw(16px);
      color: #fff;
      font-size: get-vw(25px);
      transition:all 0.25s;
    }

    a {
      color: #FFF;
      text-decoration: none;
      display: flex;
      align-items: center;
      transition:all 0.25s;
    }

    &:hover {
      color:#ded6a7;
      span {
        color:#ded6a7;
      }
      a {
        color:#ded6a7;
      }
    }
  }
  .logo {
    width: get-vw(394px);
    margin-top: get-vw(50px);

    img {
      width: 100%;
    }
  }
  .info-text {
    font-family: Montserrat;
    font-size: get-vw(12px);
    font-weight: 500;
    line-height: 1.67;
    text-align: left;
    color: #9b9b9b;
    margin-top: get-vw(33px);
    position: relative;
  }
}

.right-content {
  width: calc(100% - 31.25vw);
  position: relative;
  overflow: hidden;
}



app-interest {
  position: absolute;
  z-index: 99999;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}


app-newsletter {
  position: absolute;
  z-index: 99999;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.menu {
  position: relative;
  z-index: 10;
}

.menu a {
  position: relative;
  display: block;
  outline: none;
  color: #272727;
}

.menu .item {
  position: relative;
  display: inline-block;
}

.menu .item {
  font-weight: bold;
  line-height: 1.4;
  transition: color 0.2s;
}

.menu .item::before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: -10px;
  width: calc(100% + 20px);
  height: 50%;
  opacity: 0.3;
  transform: scale3d(0,1,1);
  transform-origin: 0% 50%;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.menu a .item::before {
  background: #fff;
}
.menu a:hover{
  color: #fe628e;
}

.menu a:hover .item::before{
  transform: scale3d(1,1,1);
}

@media only screen and (min-width: 320px) and (max-width: 900px){

  .web {
    display: none !important;
  }
  .mobile {
    display: block;
  }

  /deep/ {
    .web {
      display: none !important;
    }
    .mobile {
      display: block;
    }
    .mCSB_inside > .mCSB_container {
      margin-right:0px;
    }
    .mCSB_scrollTools {
      visibility:hidden !important;
    }
  }

  .left-content {
    display: none;
  }

  .menu-back {
    font-family: "Courier New";
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    bottom: 13vh;
  }

  .right-content {
    width:100%;
    height:100%;
    overflow: auto;
  }

  .logo {
    position: absolute;
    top:10vh;
  }

  .mobile {
    display: block;
  }

  .mobile-logo {
    width:140px;
    height:140px;
    position: fixed;
    bottom:-70px;
    right:-70px;
    border-radius: 100px;
    background-color: #ded6a7;
    z-index: 3;


    img {
      position: absolute;
      top: 27px;
      left: 22px;
    }
  }

  .mobile-menu-icon {
    width:140px;
    height:140px;
    position: fixed;
    top:-70px;
    left:-70px;
    border-radius: 100px;
    background-color: #ded6a7;
    z-index: 3;

    img {
      position: absolute;
      bottom: 31px;
      right: 27px;
    }
  }

  .mobile-menu {
    position: fixed;
    width:100%;
    height:100%;
    background-color: #DED6A7;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 9;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    .menu {
      a {
        font-family: "Courier New";
        font-size: 36px;
        font-weight: bold;
        line-height: 1.67;
        letter-spacing: 4px;
        text-align: center;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}