
<div class="reviews-page">
  <div class="reviews">
    <div class="reviews-top">
      <div class="mobile title">
        REVIEWS
      </div>
      <div class="review-points">
        <div class="bg">
          <span>{{reviews?.overall_star_rating}}</span> <span class="icon-star"></span>
        </div>
        <div class="text">
          {{reviews?.overall_star_rating}} of 5 stars<br>
          {{reviews?.ratings?.data?.length}} reviews
        </div>
      </div>
      <a class="review-btn" target="_blank" href="https://www.facebook.com/pg/balabamvenue/reviews/"><span>GET A REVIEW</span> <span class="icon-like"></span></a>
    </div>

    <div class="review-list content" id="scroll">
      <ng-container *ngFor="let review of reviews?.ratings?.data">
      <div class="review"  *ngIf="review.review_text" >

        <div class="left">
          <div class="picture">
            <img src="https://graph.facebook.com/{{review.reviewer.id}}/picture?type=normal">
          </div>
        </div>
        <div class="right">
          <div class="title">
            <a class="name">{{review.reviewer.name}}</a> reviewed <a class="site-name">Balabam - {{review.rating}} <span class="icon-star2"></span></a>
          </div>
          <div class="text">
            {{review.review_text}}
          </div>
        </div>
      </div>
      </ng-container>
    </div>

    <div class="mobile buttons">
      <a href="https://www.facebook.com/pg/balabamvenue/reviews/" target="_blank">
        <span>GET A REVIEW</span> <span class="icon-like"></span>
      </a>
    </div>
  </div>
</div>
