@import "../../assets/css/mix";
.reviews-page {
  height: 100%;
  .reviews {
    width:get-vw(807px);
    margin:0px auto;
    margin-top:get-vw(100px);
    position: relative;
    height:calc(100% - 5.20833333vw);

    .reviews-top {
      display: flex;
      justify-content: space-between;
    }



    .review-points {
      display: flex;
      align-items: center;

      .bg {
        display: flex;
        border-radius: get-vw(39px);
        background-color: #4a90e2;
        padding: get-vw(5px) get-vw(23px);
        @include day();

        .icon-star {
          font-size:get-vw(24px);
          margin-left:get-vw(5px);
        }
      }

      .text {
        font-size: get-vw(12px);
        font-weight: 500;
        line-height: 1.67;
        color: #9b9b9b;
        margin-left:get-vw(18px);
      }
    }
  }

  .review-list {
    margin-top:get-vw(83px);
    position: absolute;
    bottom: 0px;
    height: 74vh;

    .review {
      display: flex;
      min-height: get-vw(150px);
    }

    .picture {
      border:4px solid #DED6A7;
      width:get-vw(100px);
      border-radius: 200px;
      overflow: hidden;
      box-sizing: border-box;
      img {
        width:100%;
      }
    }

    .right {
      margin-left:get-vw(25px);
    }

    .title {
      font-size: get-vw(16px);
      line-height: 1.38;
      letter-spacing: get-vw(1px);
      text-align: justify;
      font-weight: 300;
      color: #ffffff;

      .name {
        color: #e88c54;
        font-weight:bold;
      }

      .site-name {
        color: #ded6a7;
        font-weight:bold;
        span {
          font-size: get-vw(14px);
        }
      }
    }

    .text {
      margin-top:get-vw(14px);
      @include paragraph();
      margin-left:get-vw(35px);
      margin-bottom:get-vw(30px);
    }
  }
}


@media only screen and (min-width: 320px) and (max-width: 900px){
  .reviews-page {

    .reviews {
      width:get-mobile-vw(220px);
      margin-top:0px;

      .reviews-top {
        height:100px;
        align-items: center;
        padding-top: 40px;
        box-sizing: border-box;
        background-color: #000;
        position: fixed;
        width:get-mobile-vw(220px);
        left: 0;
        right: 0;
        margin: 0px auto;
        top:0px;
        justify-content: space-between;
        z-index: 2;


      .title {
          font-size:get-mobile-vw(18px);
          font-weight: bold;
          line-height: 0.89;
          text-align: left;
          color: #ffffff;
        }

        .review-points {
          width: get-mobile-vw(68px);
          height: get-mobile-vw(30px);
          border-radius: get-mobile-vw(15px);
          background-color: #4a90e2;
          justify-content: center;
          display: flex;

          span {
            font-size: get-mobile-vw(18px);
            line-height: 0.89;
            text-align: left;
            color: #ffffff;
          }

          .bg {
            .icon-star {
              font-size:get-mobile-vw(16px);
              margin-left:get-mobile-vw(8px);
            }
          }
          .text {
            display: none;
          }
        }

        .review-btn {
          display: none;
        }
      }

      .review-list {
        position: inherit;

        padding-top:100px;
        padding-bottom: 120px;
        height:auto;

        .review {
          .right {
            margin-left:0px
          }
        }
        .left {
          display: none;
        }

        .title {
          font-size: 0;
          .site-name {
            display: none;
          }
          .name {
            font-size: get-mobile-vw(14px);
            font-weight: bold;
            line-height: 1.14;
            text-align: left;
            color: #ded6a7;
          }
        }
        .text {
          font-family: "Courier New";
          font-size:14px;
          font-weight: bold;
          line-height: 1.2;
          letter-spacing: normal;
          text-align: left;
          color: #9b9b9b;
          margin-top:get-mobile-vw(7px);
          margin-bottom:get-mobile-vw(30px);
          margin-left:0px;
        }
      }

      .buttons {
        position: fixed;
        bottom:0px;
        left:0px;
        height:120px;
        width: 100%;
        background-color: #000;
        padding-top:15px;

        a {
          display: block;
          margin: 0px auto;
          width: get-mobile-vw(199px);
          height: get-mobile-vw(40px);
          border-radius: get-mobile-vw(6px);
          border: solid 1px #4a90e2;
          text-decoration: none;

          font-family: "Courier New";
          font-size: get-mobile-vw(16px);
          font-weight: bold;
          line-height: get-mobile-vw(40px);
          letter-spacing: get-mobile-vw(1px);
          text-align: center;
          color: #4a90e2;
        }
      }
    }
  }
}